<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v2.0.50727" />
    </startup>
    <appSettings>
        <!--
            By default application will watch for replays in following directory:
            C:\Users\<your name>\Documents\My Games\Company of Heroes 2\playback

            In case of any issues you can change this default path using this setting.
        -->
        <add key="ReplaysDirectoryPath" value="" />

        <!--
            Date and time format used to generate file names for saved replays
            see: https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings
        -->
        <add key="ReplayFileNameFormat" value="yyyyMMddHHmmss" />
    </appSettings>
</configuration>
